body{
  font-family: 'Nunito sans', sans-serif;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.arrow{
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.arrow-down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 3px;
    margin-right: 3px;
}
.arrow-up{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-bottom: -3px;
    margin-right: 3px;
}